.no-padd{
	padding-left: 0;
	padding-right: 0;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.big-bg-left{
	height: 100vh;
	background-image: url('/images/bg.jpg');
	background-size: 100%;
	background-position: center;
}
.bg-coffee{
	height: 160px;
	background-image: url('/images/coffee.jpg');
	background-size: 100%;
	background-position: center;
}
.bg-coffee h2{
	color: white;
	margin-top: 7%;
	letter-spacing: 2px;
}
.bg-food h2{
	color: white;
	margin-top: 7%;
	letter-spacing: 2px;
}
.big-bg-left .pesanan{

}
.bg-food{
	height: 160px;
	background-image: url('/images/food.jpg');
	background-size: 100%;
	background-position: center;
}
.big-bg-left .pesanan .head{
	padding: 15px 20px;
	width: 200px;
	background-color: rgba(255,255,255,0.8);
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 16px;
	border-radius: 8px;
	margin-top: 15px;
}
.menu .menu-item{
	border-radius: 0 !important;
	height: 40px;
	padding-top: 12px;
	letter-spacing: 1px;
	font-style: italic;
	border-top: 0;
}
.menu .menu-item:hover{
	background-color: white;
}
.menu .btn-default{
	border-radius: 0;
}
.menu .btn{
	padding: 0;
}
#order-item{
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 10px;
	padding: 15px;
	background-color: rgba(255,255,255,0.8);
	text-align: left;
}
#order-item .item{
	display: block;
	margin-bottom: 15px;
}
.row-pilih-meja{
	padding: 15px 30px;
}
.row-pilih-meja .heading{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}

.row-pilih-meja .mejas .disabled{
	opacity: 0.3!important;
}
.row-pilih-meja .mejas .clicked{
	background-color: black !important;
}
.row-pilih-meja .mejas .normal{
	background-color: lightgrey;
}
.row-pilih-meja .mejas .meja{
	background-color: lightgrey;
	color: white;
	padding: 30px 15px;
	transition: all 0.3s ease;
	width: 100%
}
.row-pilih-meja .mejas .meja:hover{
	background-color: black;
}
.row-pilih-meja .mejas .meja i{
	font-size: 32px;
}
.wrapper-btn-payment{
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1;
}
.wrapper-btn-payment .btn-payment{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	border: 0;
	background-color: #ffb600;
	color: white;
	padding: 6px 12px;
}
.wrapper-btn-payment .btn-payment i{
	font-size: 32px;
}
#body-pembayaran{
	font-size: 16px;
	background-color: black;
	color: white;
}
#wrapper-menu{
	display: none;
}