.scroll-box{
  width: 280px;
  height: 300px;
  overflow: auto;
  padding: 10px;
  border: 1px solid #CCC;
  margin-bottom: 15px;
}

.scroll-box .checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 3px;
}

.scroll-box .checkbox-container span {
  margin-left: 6px;
}

.scroll-box .checkbox-container label {
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 5px;
}

.filter-form {
  position: relative;
  display: block;
  margin-top: 15px;
}

.filter-form .filter-input {
  height: 34px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #CCC;
  max-width: 250px;
  min-width: 220px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.filter-form .filter-select {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.filter-form .filter-btn {
  vertical-align: top;
  margin-right: 5px;
}
